.top-bar {
    width: 100%;
    height: 56px;
    padding-left: 0;
    padding-right: 0;
    color: #ffffff;
    background: #070758;
    font-family: "Arial";
    font-size: 14px;
}
.top-navigation-container {
    display: flex;
    padding: 0 !important;
}
.topnavigation-logo {
    float: left;
    display: flex;
    width: 92px;
    height: 32px;
    padding: 12px 0 12px 150px;
}
.topnavigation-links {
    display: flex;
    height: 56px;
    justify-content: center;
    padding: 0;
}
.topnav-list {
	display: contents;
    flex-direction: row;
    height: 56px;
    list-style-type: none;
    
}
.linkclassdefault {
    font-weight: bold;
    padding: 20px 5px 0 200px;
}
.linkclass {
    padding: 20px 5px 0 16px;
    
}

.top-bar .topnavigation-links ul.topnav-list li:hover, .top-bar .topnavigation-links ul.topnav-list li:focus, .top-bar .topnavigation-links ul.topnav-list li:active, .top-bar .topnavigation-links ul.topnav-list li:hover a {
    color: #ffffff;
    background: #000032;
}