

<div class="container" data-sly-use.imageText="com.aem.sample.core.models.ImageTextModel">
  <a><img src="${imageText.imagePath}"alt="Nature" style="width:100%;"></a>
  <div>
  	<div data-sly-test="imageText.alignmentText == left}" data-sly-unwrap> 
  		<a class="text-block-left" title="${imageText.alignmentText}">this is left text</a>
  	</div> 
  	<div data-sly-test="imageText.alignmentText == right" data-sly-unwrap> 
  		<a class="text-block-right" title="${imageText.alignmentText}">this is right text</a>
  	</div>  
  </div>
</div>

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" />
<sly data-sly-call="${clientLib.css @ categories='mfscom.components.globalHeader'}" />