<div data-sly-test="${wcmmode.edit && !wcmmode.preview}">
     Edit: Global footer
</div>
<div class="mt-5 pt-5 pb-5 footer" data-sly-use.globalFooter="com.aem.sample.core.models.GlobalFooterModel">
	<div class="container">
		<div class="row">
	    	<div class="col-lg-5 col-xs-12 about-company">
	      		<h2>${globalFooter.getFooterTitle}</h2>
	      		<p class="pr-5 text-white-50">${globalFooter.getFooterDescription} </p>
	      		<p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
	    	</div>
	    	<div class="header-right">
				<a class="cta-primary checkout-cta" title="${globalFooter.getFooterDescription}">${globalFooter.getFooterDescription}</a>
			</div>
		</div>
	</div>
</div>