* {box-sizing: border-box;}

.logo {
  float: left;
  height: 32px;
  color: white;
  padding-top: 10px;
  margin-bottom: 20px;
}

.footer-bar .footer-subtext a {
	color:white;
  line-height: 30px;
  font-family: "Arial";
  font-size: 14px;
}
.footerheading {
    font-size: 18px;
    color: #ffffff;
    font-family: "helvetica";
}

.footer-bar {
  overflow: hidden;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  color: #ffffff;
  background: #070758;
  font-family: "Arial";
  font-size: 14px;
  padding-top:50px;
  padding-bottom:30px;
}